*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
    justify-content: center;
}

body{
    background-color: #cecece;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 100px;

}

.card{
    width: 325px;
    color: #000000;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.8s ease;
}

.card:hover{
    transform: translateY(-20px);
}

.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
    justify-content: center;
    text-align: center;

}
.card-container{
    padding: 20px;
}

.card-container h1 h2 h3{
    font-size: 24px;
    margin-bottom: 10px; 
    
}

.card-container p{
    font-size: 15px;
    margin-bottom: 20px;
}


.card-button{
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 16px;
}
